# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
.env
.venv/

# Node
node_modules/
.vite/
.DS_Store
dist/
dist-electron/
.sass-cache/
.npm/
.pnpm-store/
bun.lockb
package-lock.json
pnpm-lock.yaml
yarn.lock
*.tsbuildinfo
sora_suite/frontend/vite.config.js
sora_suite/frontend/vite.config.d.ts

# Builds
sora_suite/frontend/dist/

# Editor
.idea/
.vscode/
